/* -----------WELCOME-------------- */
.welcome {
    height: 100vh;
    background: linear-gradient(blue, transparent, blue);
    padding: 4vw;
    display: grid;
    place-items: center;
}

.welcome_main {
    min-height: 60vh;
    border: 2px solid rgb(0, 4, 255);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vh;
    background: radial-gradient(circle at 100% 50%, rgb(23, 23, 199) 50%, rgb(37, 94, 225) 40%);
    box-shadow: 0 0 8px 8px white;
}

.welcome h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(30, 0, 255);
}

.welcome h1 img {
    width: 25%;
}

.welcome_box1 {
    display: grid;
    place-items: center;
}

.welcome_box1 img {
    width: 30vw;
    height: 40vh;
}

.welcome_box2 {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

.welcome_box2 div:nth-child(2) {
    color: white;
}

.welcome_name {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;
}

.welcome input {
    padding: 8px;
    font-size: 15px;
    border: 2px solid blue;
    color: blue;
    text-transform: capitalize;
}

.welcome button {
    border: 2px solid blue;
    background-color: blue;
    font-size: 20px;
    padding: 1px 8px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.hide2 {
    position: fixed;
    bottom: -1%;
    right: -17px;
}

.hide2 img {
    height: 120px;
}
















@media screen and (max-width : 700px) {
    .welcome {
        padding: 0 6vw;
    }

    .welcome_main {
        grid-template-columns: 1fr;
        padding: 2vh 0;
        background: radial-gradient(circle at 50% 100%, rgb(23, 23, 199) 53%, white 36%);
    }

    .welcome_box1 img {
        width: 70vw;
        height: 70vw;
    }

    .welcome_pic {
        grid-template-columns: 1fr;
    }

    .welcome_box2 {
        padding: 2vw 6vw;
    }

    .welcome_box2 div:nth-child(2) {
        text-align: center;
    }
}