* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* -----------WELCOME-------------- */
.welcome {
  height: 100vh;
  background: linear-gradient(blue, transparent, blue);
  padding: 4vw;
  display: grid;
  place-items: center;
}

.welcome_main {
  height: 60vh;
  border: 2px solid green;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3vh;
  background: radial-gradient(circle at 100% 50%, rgb(23, 23, 199) 50%, rgb(37, 94, 225) 40%);
  box-shadow: 0 0 8px 8px white;
}

.welcome h1 {
  text-align: center;
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(30, 0, 255);
}

.welcome h1 img {
  width: 25%;
}

.welcome_box1 {
  display: grid;
  place-items: center;
}

.welcome_box1 img {
  width: 30vw;
  height: 40vh;
}

.welcome_box2 {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}

.welcome_box2 div:nth-child(2) {
  color: white;
}

.welcome_name {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
}

.welcome input {
  padding: 8px;
  font-size: 15px;
  border: 2px solid blue;
  color: blue;
  text-transform: capitalize;
}

.welcome button {
  border: 2px solid blue;
  background-color: blue;
  font-size: 20px;
  padding: 1px 8px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* ------------CATEGORY----------- */
.category {
  padding: 0 2vw;
  background: linear-gradient(rgb(54, 54, 121), blue, rgb(118, 118, 152));
}

.category_heading {
  text-align: center;
  padding: 2vw;
  color: white;
}

.category_box {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5vw;
}

.category_box img {
  width: 40%;
}

.category_name {
  box-shadow: 0 0 5px 5px rgb(18, 51, 200);
  border: 2px solid rgb(0, 102, 255);
  background-color: rgb(3, 77, 172);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  color: white;
  cursor: pointer;
}

/* -------------QUIZ----------------- */
.quiz_sec {
  background: linear-gradient(blue, rgb(71, 71, 199));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1vh;
}

.quiz_sec h1 {
  color: white;
  font-size: 40px;
  padding-bottom: 5vh;
}

.quiz_section {
  width: 100vw;
  height: 70vh;
}

.quiz_box2 p {
  color: white;
}

.quiz_box {
  background-color: blueviolet;
  height: 80%;
  padding: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 8px 8px blueviolet;
}

.quiz_box1 {
  background-image: url("../public/ques.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.quiz_box2 {
  background-color: blue;
  padding: 1vw;
  border-radius: 20px;
}

.quiz_questions {
  min-height: 20%;
  display: grid;
  place-items: center;
}

.quiz_options {
  border: 2px solid blue;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  gap: 10%;
}

::-webkit-scrollbar {
  width: 0px;
}

.quiz_options button {
  display: grid;
  place-items: center;
  color: rgb(0, 0, 0);
  padding: .8vw 3vw;
  border: 2px solid rgb(132, 0, 255);
  border-radius: 10px;
  width: 100%;
  height: 60%;
  cursor: pointer;
  overflow-y: scroll;
}

.quiz_nav {
  position: relative;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.quiz_nav button {
  background-color: blue;
  padding: .5vw 1vw;
  border: 2px solid blue;
  border-radius: 10px;
  cursor: pointer;
}


/* --------------SELECT ERROR--------- */
.select {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: rgb(235, 45, 45);
  padding: 1px;
  text-align: center;
  animation: up .1s ease forwards;
}

@keyframes up {
  0% {
    bottom: -40%;
  }

  100% {
    bottom: -20%;
  }
}

/* ----------------READY PAGE----------- */
.ready_sec {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(blue, rgb(9, 9, 60));
  z-index: 10;
  display: grid;
  place-items: center;
}

.ready_sec>div {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2vh;
  text-align: center;
}

.ready_img {
  background-image: url("../public/ready.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40vw;
  width: 40vw;
}

.ready_sec h1 {
  color: white;
  font-size: 4vw;
}

.ready_sec p {
  color: white;
  font-size: 1.5vw;
}

.ready_box2 {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.ready_box2 h1 {
  text-transform: capitalize;
}

.ready_sec button {
  background-color: rgb(41, 41, 140);
  border: 2px solid blue;
  color: white;
  padding: 2vh 5vh;
  font-size: 2vh;
  cursor: pointer;
}

.remove {
  animation: down .5s ease forwards;
}

@keyframes down {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}

/* ---------------------FINISH----------------------- */
.finish {
  background: linear-gradient(blue, rgb(12, 12, 83));
  height: calc(100vh - 66.400px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 2vh;
}

.finish div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.finish_img {
  background-image: url("../public/quit.svg");
  height: 50vh;
  width: 50vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.finish h1 {
  color: white;
}

.finish button {
  background-color: blue;
  color: white;
  padding: 1vw 2vw;
  border: 2px solid blue;
  cursor: pointer;
}






.green {
  background-color: rgb(0, 255, 4);
}

.red {
  background-color: rgb(255, 43, 43);
  color: white !important;
}

.white {
  background-color: white;
}

.blur {
  filter: blur(4px);
}










@media screen and (max-width : 700px) {
  .welcome {
    padding: 0 6vw;
  }

  .welcome_main {
    height: fit-content;
    grid-template-columns: 1fr;
    padding: 2vh 0;
    background: radial-gradient(circle at 50% 100%, rgb(23, 23, 199) 53%, white 36%);
  }

  .welcome_box1 img {
    width: 70vw;
    height: 70vw;
  }

  .welcome_pic {
    grid-template-columns: 1fr;
  }

  .welcome_box2 {
    padding: 2vw 6vw;
  }

  .welcome_box2 div:nth-child(2) {
    text-align: center;
  }

  /* ------------------------CATEGORY-------------------------------- */
  .category {
    padding: 0 5vh;
  }

  .category_heading {
    text-align: center;
    border-bottom: 2px solid blue;
    padding: 2vh;
    margin-bottom: 2vh;
  }

  .category_box {
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    padding: 2vh 0;
  }

  .category_name {
    padding: 1vh;
    font-size: 1.5vh;
  }

  .category_box img {
    width: 65%;
  }

  /* ----------------READY PAGE----------- */
  .ready_sec>div {
    grid-template-columns: 1fr;
    gap: 10vh;
  }

  .ready_img {
    height: 70vw;
    width: 70vw;
  }

  .ready_sec h1 {
    color: white;
    font-size: 8vw;
  }

  .ready_sec p {
    color: white;
    font-size: 3vw;
  }

  /* -------------QUIZ----------------- */
  .quiz_section {
    padding: 0 4vh;
    min-height: 90vh;
  }

  .quiz_sec h1 {
    padding: 0;
  }

  .quiz_box {
    grid-template-columns: 1fr;
    grid-template-rows: .7fr 1.3fr;
    gap: 2vh;
  }

  .quiz_box2 {
    background-color: blue;
    padding: 1vh 2vh;
  }

  .quiz_questions {
    min-height: 20%;
    display: grid;
    place-items: center;
  }

  .quiz_options {
    border: 2px solid blue;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: self-start;
  }

  .quiz_options button {
    width: 100%;
    box-shadow: 0 0 2px 2px wheat;
    color: blue;
  }

  /* ---------------------FINISH----------------------- */
  .finish {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10vh;
  }

  .finish_img {
    height: 80vw;
    width: 80vw;
  }

}